@import '_partial';



/* ------------------------- SECTION BANNER -------------------------- */

#banner {
    @extend .d-flex;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    background-image: url('../Illustrations_&_Logo/enigme/Pantherenigme1.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top 80% left 0;
    
    .container {
        @extend .d-flex, .flex_evenly, .d_column;
        width: 47%;
        height: 80%;
        background: url('../Illustrations_&_Logo/enigme/Pantherenigme2.png'), url('../Illustrations_&_Logo/enigme/Pantherenigme3.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 95% 100%, contain;
        background-position: top 5vw center, bottom;
    }

    h1 {
        font-family: 'Beyno';
        font-size: 60px;
        width: 100%;
        color: var(--silver);
    }

    .text {
        @extend .d-flex, .flex_center;
        height: 60%;
        width: 100%;

        p {
            font-size: 12px;
            width: 70%;
            text-align: justify;
        }
    }

}
/* ------------------------------ SECTION END ----------------------------------- */


/* ----------------------------- SECTION DEFI ----------------------------- */

#defi {
    padding: 7vw 0;

    .container {
        margin: 0 10%;

        h3 {
            font-family: 'Wakanda';
            word-spacing: 0,7vw;
            letter-spacing: 10px;
            font-size: 22px;
            width: 80%;
            color: var(--silver);
            margin-bottom: 7vw;
        }
    }
}
#defi .row {
    @extend .d-flex;
    justify-content: space-between;
    width: 100%;

    .col {
        width: 49%;
    }
}

.col_1 {
    @extend .d-flex, .d_column, .flex_between;
    height: 70vh;

    p {
        margin-bottom: 10px;
        font-size: 15px;
        text-align: start;

        span {
            font-family: 'Wakanda';
        }
    }
}

form {
    @extend .d-flex, .d_column;
    width: 100%;

    input {
        background: none;
        border-radius: 38px;
        outline: none;
        border: 1px solid var(--ivory);
        color: var(--ivory);
        width: 94%;
        padding: 14px;
    }

    button {
        color: var(--darkblue);
        background-color: var(--ivory);
        border: none;
        height: 40px;
        width: 150px;
        border-radius: 38px;
        text-align: center;
        cursor: pointer;
        margin: 5vw auto 0 auto;
        &:hover {
            box-shadow: 0 0 20px var(--ivory);
        }
    }
}


.col_2 {
    @extend .d-flex, .d_column, .flex_center;
    height: 70vh;

    background: url('../Illustrations_&_Logo/enigme/Pantherenigme2.png');
    background-repeat: no-repeat;
    background-size: 95% 100%;
    background-position: center;

    p, h4 {
        font-weight: normal;
        text-align: center;
        width: 80%;
    }

    h4 {
        margin-bottom: 14px;
    }
}
/* --------------------------- SECTION END --------------------------- */





/* ------------------------------------------- RESPONSIVE RULES -------------------------------------------- */


/* ------------------ SECTION BANNER -------------------- */

@media (min-width: 320px) and (max-width: 481px) {

    #banner {
        flex-direction: column;
        justify-content: space-evenly;
        background-position: top;
        background-size: cover;
        
        h1 {
            text-align: center;
            font-size: 10vw;
        }
    }

    #banner .container {
        justify-content: space-between;
        background: none;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .text {
        align-items: flex-end;
        padding: 0;

        p {
            font-size: 14px !important;
            width: 90% !important;
            text-align: center;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    #banner {

        h1 {
            font-size: 6vw;
        }
    }
}


/* ------------------ SECTION DEFI -------------------- */

@media (min-width: 320px) and (max-width: 481px) {
    
    #defi .container {
        margin: 0 5%;

        h3 {
            text-align: center;
            width: 100%;
            word-spacing: normal;
            letter-spacing: 10px;
            font-size: 16px;
        }
        
        .row {
            border: 1px solid #fff;
            flex-direction: column;
        }

        .col {
            width: 100%;
        }
    }
}